{layout '@layout.latte'}

{block content}
	<p>Dobrý den,</p>
	<p>
		vaši objednávku <b>{$order->getNumber()}</b> <span style="color:green">právě připravujeme</span>.
		Jakmile bude připravena, tak ji co nejdříve předáme dopravci,
		nebo ji rezervujeme u nás na prodejně v závislosti na vybraném způsobu přepravy.
	</p>
	<p>
		Až budeme mít o vaší objednávce další informace, dáme vám vědět.
	</p>
	<p>
		Mějte se hezky. Vážíme si Vaší důvěry.
	</p>
{/block}
