{layout '@layout.latte'}

{block content}
	<p>Dobrý den,</p>
	<p>
		vaši objednávku <b>{$order->getNumber()}</b> jsme <span style="color:red">museli zrušit</span>.
	</p>
	<p n:if="$order->getNotice()">
		Poznámka u objednávky:<br>
		<b>{$order->getNotice()}</b>
	</p>
	<p>
		Pokud potřebujete více informací, kontaktujte nás odpovědí na tento e-mail, nebo na telefonní číslo.
	</p>
	<p>
		Mějte se hezky. Vážíme si Vaší důvěry.
	</p>
{/block}
