{layout '@layout.latte'}

{block content}
	<p>Dobrý den,</p>
	<p>
		vaši objednávku <b>{$order->getNumber()}</b> jsme <span style="color:green">úspěšně dodali</span>.
	</p>
	<p>
		Moc děkujeme za projevenou důvěru a ať vám naše produkty dobře slouží.
		Až si produkty vyzkoušíte, budeme moc rádi za zpětnou vazbu.
	</p>
	<p>
		Mějte se hezky. Vážíme si Vaší důvěry.
	</p>
{/block}
